@{
    ViewData["Title"] = "Home Page";
}
<div class="banner">
    <h1>Добре дошли!</h1>
    <p>
        Добре дошли в нашия уебсайт за даване на коли под наем! Ние сме тук, за да ви предоставим удобство и надеждност при наемането на автомобил за вашите нужди. С нас ще откриете широка гама от модели коли за всякакви пътувания - от градски разходки до дълги пътувания извън града.        <br />
        <br />
        Нашата цел е да ви осигурим лесен и бърз начин за наемане на автомобил, който отговаря на вашите изисквания и бюджет. С опции за различни периоди на наемане и разнообразие от автомобилни класове, ние сме тук, за да направим вашето пътуване приятно и безпроблемно.        <br /><br /><br />
        <br />
        Изберете автомобил, който отговаря на вашите нужди и предпочитания, уточнете място и период на наемане, и се насладете на свободата и удобството на личен превоз. С нас ще получите професионално обслужване и грижа за вашия комфорт и безопасност по време на вашето пътуване. Очакваме ви с нетърпение да станем част от вашето пътешествие!"
    </p>
</div>